<%- include chunk/header.ejs %>
<div class="page-data">
    <form method="post" action="<%=action%>">
        <table cellpadding="11">
            <tbody><tr>
                <td class="label">Name</td><td>:
                    <input type="text" name="name" value="<%if (user.name) { %><%=user.name%><% } %>"
                           required="" placeholder="Name">
                </td>
            </tr>
            <tr>
                <td class="label">Email</td><td>:
                    <input type="text" value="<%if (user.email) { %><%=user.email%><% } %>"
                           name="email" required="" placeholder="Email">
                </td>
            </tr>
            <tr>
                <td class="label">Password</td><td>:
                    <input type="text" value="<%if (user.password) { %><%=user.password%><% } %>" name="password" required="" placeholder="Password">
                </td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    &nbsp; <input type="submit" name="submit" value="Save">
                    <input type="button" name="cancel" value="Cancel" class="cancel" onclick="cancelAdd()">
                </td>
            </tr>
            </tbody></table>
    </form>
</div>
<%- include chunk/footer.ejs %>