<%- include chunk/header.ejs %>
<div class="page-data">
    <div class="data-btn">
        <a href="/users">Add</a>
    </div>
    <div class="data-table">
        <table id="user" border="1" cellpadding="7" cellspacing="7">
            <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Functions</th>
            </tr>
            </thead>
            <% if(users.length){

            for(var i = 0;i < users.length;i++) { %>
            <tbody>
            <tr>
                <td><%=(i+1)%></td>
                <td><%=users[i].name%></td>
                <td><%=users[i].email%></td>
                <td><%=users[i].password%></td>
                <td>
                    <a class="a-inside edit" href="../user/<%=users[i].id%>">Edit</a>
                    <a class="a-inside delete" href="../delete/<%=users[i].id%>">Delete</a>
                </td>
            </tr>
            </tbody>
            <% }

            }else{ %>
            <tr>
                <td colspan="3">No user</td>
            </tr>
            <% } %>

        </table>
    </div>
</div>
<%- include chunk/footer.ejs %>